@inherits LayoutComponentBase

@using ShoppingCart.Services.Interfaces
@inject ICartService cartService
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h3>Cart Total: $@cartService.Total</h3>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override void OnInitialized(){
        cartService.OnChange += StateHasChanged;
    }

    public void Dispose(){
        cartService.OnChange -= StateHasChanged;
    }
}
